<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="lt_about">
	<ul>
		<li class="hidden-xs hidden-sm list_0"
			th:style="'background:url(' + @{/data/file/about/1949077852_LglTVyE2_fd0838d65d8b2c32e3861f1d232d243f8af364a4.jpg} + ');'">
			<div class="bg"></div>
			<div class="bn_txt" style="width: 1260px; margin: auto;">
				<div style="width: 20%; float: left; text-align: center;">
					<img th:src="@{/theme/cookie/img/point01.png}" width="96%"
						alt="SFT논현지사 SFT 편리한 사용방법">
				</div>
				<div style="width: 20%; float: left; text-align: center;">
					<img th:src="@{/theme/cookie/img/point02.png}" width="96%"
						alt="SFT논현지사 SFT 단단한 방화벽">
				</div>
				<div style="width: 20%; float: left; text-align: center;">
					<img th:src="@{/theme/cookie/img/point03.png}" width="96%"
						alt="SFT논현지사 SFT 누구나 가능">
				</div>
				<div style="width: 20%; float: left; text-align: center;">
					<img th:src="@{/theme/cookie/img/point04.png}" width="96%"
						alt="SFT논현지사 SFT 실시간 환율 적용">
				</div>
				<div style="width: 20%; float: left; text-align: center;">
					<img th:src="@{/theme/cookie/img/point05.png}" width="96%"
						alt="SFT논현지사 SFT 쉬운 거래방법">
				</div>
			</div>
		</li>
		<li class="hidden-lg hidden-md list_0"
			style="padding: 20px 10px 0px 10px;"
			th:style="'background:url(' + @{/data/file/about/1949077852_LglTVyE2_fd0838d65d8b2c32e3861f1d232d243f8af364a4.jpg} + ');'">
			<div class="bg"></div>
			<div class="bn_txt" style="text-align: center;">
				<div style="width: 100%; float: left; text-align: center;">
					<img th:src="@{/theme/cookie/img/m_50.png}" width="100%"
						alt="SFT논현지사 SFT 무료리딩">
				</div>
				<div style="width: 100%; float: left; text-align: center;">&nbsp;</div>
				<div style="width: 50%; float: left; text-align: center;">
					<img th:src="@{/theme/cookie/img/point01.png}"
						alt="SFT논현지사 SFT 편리한 사용방법">
				</div>
				<div style="width: 50%; float: left; text-align: center;">
					<img th:src="@{/theme/cookie/img/point02.png}"
						alt="SFT논현지사 SFT 단단한 방화벽">
				</div>
				<div style="width: 50%; float: left; text-align: center;">
					<img th:src="@{/theme/cookie/img/point04.png}"
						alt="SFT논현지사 SFT 실시간 환율 적용">
				</div>
				<div style="width: 50%; float: left; text-align: center;">
					<img th:src="@{/theme/cookie/img/point05.png}"
						alt="SFT논현지사 SFT 쉬운 거래방법">
				</div>
				<div style="width: 100%; float: left; text-align: center;">&nbsp;</div>
				<div style="width: 100%; float: left; text-align: center;">&nbsp;</div>
			</div>
		</li>

	</ul>
</div>
</html>