<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="lt_menu hidden-xs hidden-sm">
	<h2>
		<a href="/" class="lt_title" title="파트너문의">지사/지점문의</a>
	</h2>
	<ul>
		<li><a href="/" class="lt_cate"></a> <a href="/" class="lt_tit">지사
				문의 드립니다</a><!-- <div class="lt_detail"> 파트너 문의 드립니다. 조건은 어떻게 되나요?</div> --> 
		</li>
		<li><a href="/" class="lt_cate"></a> <a href="/" class="lt_tit">지점문의
				드립니다.</a> <!--div class="lt_detail"> 파트너문의 테스트 글 등록입니다.글 작성은 비회원 작성 가능하며,비밀번호 입력 후 수정가능하며,관리자만 읽기 가능한 게시판입니다.</div-->
		</li>
	</ul>

	<div class="menu_more">
		<a href="/question" class="lt_title">더보기 +</a>
	</div>
</div>
</html>