<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div id="ft">

	<div class="ft_info">

		<div class="lt">
			<h2>
				<a href="/notice" class="lt_title">공지사항</a>
			</h2>
			<ul>
				<li><a href="/" class="lt_tit">★★★SFT 논현지사(SFT) 1000명 돌파 기념
						이벤트★…</a> <span class="lt_date">2019-12-22</span></li>
				<li><a href="/" class="lt_tit">SF (SFT 논현지사) 이용관련공지</a> <span
					class="lt_date">2019-12-22</span></li>
			</ul>
		</div>
		<div id="ft_contact" class="hidden-sm hidden-xs">
			<h2>SFT STAR BRANCH</h2>
			<ul>
				<li>주소 : 서울시 구로구 디지털로30길 31 코오롱디지털 타워빌란트</li>
				<li>상호 : 주식회사 동인그룹 | 대표 : 최병록</li>
				<li>사업자등록번호 : 242-88-01799 | 고객센터 : 0319326982</li>
				<li>Copyright ⓒ SFT-SINGAPORE FINANCE TRADE. All rights
					reserved</li>

				<li style="font-weight: 200; color: #888;">무리한 계약은 자제하시고 신중한
					계약을 부탁드립니다. 모든 계약에 대한 손익은 본인의 책임이오니 신중한 판단을 하시기 바랍니다.</li>

				<li>&nbsp;<br /></li>
				<!--li style="font-weight: 200;color:#888;text-align: right;"><a href="https://pf.kakao.com/_ELZpT" title="SFT 논현지사 SFT 카카오채널"><img src="http://SFTw.com/theme/cookie/img/btn_kakao.png" alt="SFT 논현지사 SFT 카카오채널"></a>&nbsp;<a href="https://SFT.co.kr/" title="SFT 논현지사 SFT 블로그"><img src="http://SFTw.com/theme/cookie/img/btn_blog.png" alt="SFT 논현지사 SFT 네이버블로그"></a>&nbsp;<a href="https://SFT.co.kr/" title="SFT 논현지사 SFT 네이버카페"><img src="http://SFTw.com/theme/cookie/img/btn_cafe.png" alt="SFT 논현지사 SFT 네이버카페"></a></li>
                <li class="res"><a href="https://SFT.co.kr/register" target="_blank" title="SFT 논현지사 SFT 회원가입">회원가입</a></li-->
			</ul>
		</div>
		<div id="ft_contact" class="hidden-lg hidden-md"
			style="background: #121212;">
			<h2>SFT 논현 지사</h2>
			<ul>
				<li>주소 : 서울시 구로구 디지털로30길 31 코오롱디지털 타워빌란트</li>
				<li>상호 : 주식회사 동인그룹 | 대표 : 최병록</li>
				<li>사업자등록번호 : 242-88-01799 | 고객센터 : 0319326982</li>
				<li>Copyright ⓒ SFT-SINGAPORE FINANCE TRADE. All rights
					reserved</li>

				<li style="font-weight: 200; color: #888;">무리한 계약은 자제하시고 신중한
					계약을 부탁드립니다. 모든 계약에 대한 손익은 본인의 책임이오니 신중한 판단을 하시기 바랍니다.<br> <br>
				</li>

				<li style="font-weight: 200; color: #888; font-size: 0.9em;">
					Copyright &copy; <b>2019 SFT.</b> All rights reserved.<br> <br>
				</li>
			</ul>
		</div>

	</div>


	<button type="button" id="top_btn">
		<i class="fa fa-arrow-up" aria-hidden="true"></i><span
			class="sound_only">상단으로</span>
	</button>
</div>

</html>