<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



<!-- pc 시작 -->
<div id="index" class="indexBg">
	<!-- 동영상  시작-->
	<div class="lt_service hidden-xs hidden-sm">
		<div class="lt_service hidden-sm hidden-xs"
			style="padding: 0px 0; float: left; margin: 0.5%; width: 32.333%;">
			<embed type="text/html"
				src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FSFT5123%2Fvideos%2F1582130101941412%2F&show_text=0&width=560"
				width="100%" height="220">
			<br>
			<h1
				style="color: #111; padding: 10px 0px; text-align: center; font-size: 1.4em;">SFT
				논현지사 회원가입 방법</h1>
		</div>
		<div class="lt_service hidden-sm hidden-xs"
			style="padding: 0px 0; float: left; margin: 0.5%; width: 32.333%;">
			<embed type="text/html"
				src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FSFT5123%2Fvideos%2F1582130101941412%2F&show_text=0&width=560"
				width="100%" height="220">
			<br>
			<h1
				style="color: #111; padding: 10px 0px; text-align: center; font-size: 1.4em;">SFT
				논현지사 회원가입 방법</h1>
		</div>
		<div class="lt_service hidden-sm hidden-xs"
			style="padding: 0px 0; float: left; margin: 0.5%; width: 32.333%;">
			<embed type="text/html"
				src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FSFT5123%2Fvideos%2F1582130101941412%2F&show_text=0&width=560"
				width="100%" height="220">
			<br>
			<h1
				style="color: #111; padding: 10px 0px; text-align: center; font-size: 1.4em;">SFT
				논현지사 회원가입 방법</h1>
		</div>
	</div>


	<!-- 플립  시작-->
	<div class="lt_service hidden-xs hidden-sm">
		<br /> <br />
		<h2 class="sound_only">
			<a href="/" title="Main_서비스항목">Main_서비스항목</a>
		</h2>
		<ul>
			<li><a href="/" class="lt_img"><img
					th:src="@{/data/file/service/thumb-1949077852_4WbDonHy_5a4839f55ad9b49b3f124151c99eb0eb9147f2a2_400x272.png}"
					alt=""></a>
				<div class="lt_txt_wr">
					<a href="/" class="lt_tit"><strong>SFT INFO</strong></a>
					<div class="lt_detail">SFT만의 합법적이고 안정적인 재테크의새 패러다임을 지금 도전하십시오</div>
				</div></li>
			<li><a href="/" class="lt_img"><img
					th:src="@{/data/file/service/thumb-1949077852_1NU9tjSP_dbb4ba0012dd854d6a453ddb2eb9d53ca3cb9d2c_400x272.png}"
					alt=""></a>
				<div class="lt_txt_wr">
					<a href="h/" class="lt_tit"><strong>MEMBERSHIP</strong></a>
					<div class="lt_detail">초보자라도 누구나 쉽게 시작하는 SFT 논현지사의 성공투자의 자리로
						당신을 초대합니다.</div>
				</div></li>
			<li><a href="/" class="lt_img"><img
					th:src="@{/data/file/service/thumb-1949077852_CwQt39hZ_f3f29b110eb7e9bf48b293e86672b0b7fcaf9b73_400x272.png}"
					alt=""></a>
				<div class="lt_txt_wr">
					<a href="/" class="lt_tit"><strong>SFT 논현지사 메뉴얼 영상</strong></a>
					<div class="lt_detail">이용방법 및 렌트거래를 처음 접하시는 고객분들의 편의를 위해 영상을
						참고하시길 바랍니다.</div>
				</div></li>
		</ul>
	</div>
	<!-- pc 끝 -->

	<!-- 모바일 시작 -->
	<div class="lt_service hidden-lg hidden-md"
		style="padding: 0px 0; background: #eee; padding: 15px 15px;">
		<h1
			style="color: #2C9CE7; padding: 0px 0px 10px 0px; text-align: center; font-size: 1.6em;">회원가입
			방법</h1>
		<iframe width="100%" height="213"
			src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FSFT5123%2Fvideos%2F1582130101941412%2F&show_text=0&width=560"
			frameborder="0"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen></iframe>
	</div>

	<div class="lt_service hidden-lg hidden-md"
		style="padding: 0px 0; background: #eee; padding: 5px 15px;">
		<h1
			style="color: #2C9CE7; padding: 0px 0px 10px 0px; text-align: center; font-size: 1.6em;">입금/출금
			방법</h1>
		<iframe width="100%" height="213"
			src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FSFT5123%2Fvideos%2F1582130101941412%2F&show_text=0&width=560"
			frameborder="0"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen></iframe>
	</div>

	<div class="lt_service hidden-lg hidden-md"
		style="padding: 0px 0; background: #eee; padding-bottom: 20px; padding: 5px 15px;">
		<h1
			style="color: #2C9CE7; padding: 0px 0px 10px 0px; text-align: center; font-size: 1.6em;">증거금거래
			방법</h1>
		<iframe width="100%" height="213"
			src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FSFT5123%2Fvideos%2F1582130101941412%2F&show_text=0&width=560"
			frameborder="0"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen></iframe>
	</div>

	<!-- 모바일 끝 -->
</div>
</html>