<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{/layout/layout1}">
<div layout:fragment="content">
	<!-- 탑-->
	<th:block th:insert="fragments/top"></th:block>

	<div id="wrapper">

		<div id="container">
			<h2 id="container_title" class="top hidden-xs hidden-sm"
				title="화이트플랏 소개">화이트플랏 소개</h2>
			<article id="ctt" class="ctt_Cate_code03">
				<div id="ctt_con">
					<div style="text-align: right;">
						<img th:src="@{/theme/cookie/img/pagelogo.png}"
							th:title="@{/theme/cookie/img/pagelogo.png}"
							th:alt="@{/theme/cookie/img/pagelogo.png}" />
					</div>
					<p></p>
					<p>
						<br />
					</p>
					<p>
						<br />
					</p>
					<p>
						<br />
					</p>
					<img th:src="@{/img/original_2.gif}" alt="" />
					<div align="left"
						style="font-family: 'Noto Sans KR', 'AppleSDGothicNeo-Regular', 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif; font-size: 13.008px; line-height: 1.5;">
						<div class="lt_menu hidden-xs hidden-sm">
							<img th:src="@{/img/AboutUs01.png}"
								style="vertical-align: middle; float: right; margin-bottom: 100px;" />
						</div>
						<h3 class="hd3"
							style="margin: 0px; padding: 0px; border: 0px; font-size: 1.5em; color: rgb(27, 27, 27); font-family: noto, '맑은 고딕', '돋움', tahoma, sans-serif; background-color: rgb(255, 255, 255);">
							<span
								style="color: rgb(0, 117, 200); font-family: '나눔바른고딕', NanumBarunGothic, NanumBarunGothicOTF; font-size: 18pt;">안녕하세요
								SFT논현지사입니다</span>
						</h3>

						<p class="stxt"
							style="margin-top: 20px; color: rgb(27, 27, 27); font-family: noto, '맑은 고딕', '돋움', tahoma, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">
							<span
								style="font-family: '나눔바른고딕', NanumBarunGothic, NanumBarunGothicOTF; font-size: 12pt;">저희
								SFT는 싱가포르 파이낸셜 트레이딩 이라는 뜻을 </span>
						</p>
						<p class="stxt"
							style="margin-top: 20px; color: rgb(27, 27, 27); font-family: noto, '맑은 고딕', '돋움', tahoma, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">
							<span
								style="font-family: '나눔바른고딕', NanumBarunGothic, NanumBarunGothicOTF; font-size: 12pt;">가진
								법인회사로 실제로 싱가포르에서 화폐가치를 </span>
						</p>
						<p class="stxt"
							style="margin-top: 20px; color: rgb(27, 27, 27); font-family: noto, '맑은 고딕', '돋움', tahoma, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">
							<span
								style="font-family: '나눔바른고딕', NanumBarunGothic, NanumBarunGothicOTF; font-size: 12pt;">인정받은
								상장직전인 화이트플랏을 인수 후실제 </span>
						</p>
						<p class="stxt"
							style="margin-top: 20px; color: rgb(27, 27, 27); font-family: noto, '맑은 고딕', '돋움', tahoma, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">
							<span
								style="font-family: '나눔바른고딕', NanumBarunGothic, NanumBarunGothicOTF; font-size: 12pt;">코인으로
								회원님들 개인간 거래를 도와드리는 신개념 </span>
						</p>
						<p class="stxt"
							style="margin-top: 20px; color: rgb(27, 27, 27); font-family: noto, '맑은 고딕', '돋움', tahoma, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">
							<span
								style="font-family: '나눔바른고딕', NanumBarunGothic, NanumBarunGothicOTF; font-size: 12pt;">경제성장
								P2P플랫폼입니다.</span>
						</p>
						<p class="stxt"
							style="margin-top: 20px; color: rgb(27, 27, 27); font-family: noto, '맑은 고딕', '돋움', tahoma, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">
							<span
								style="font-family: '나눔바른고딕', NanumBarunGothic, NanumBarunGothicOTF; font-size: 12pt;">더
								이상 불법플랫폼으로 인한 마음고생 그만두시고</span>
						</p>
						<p class="stxt"
							style="margin-top: 20px; color: rgb(27, 27, 27); font-family: noto, '맑은 고딕', '돋움', tahoma, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">
							<span
								style="font-family: '나눔바른고딕', NanumBarunGothic, NanumBarunGothicOTF; font-size: 12pt;">
								합법적인P2P플랫폼 SFT논현지사가 </span>
						</p>
						<p class="stxt"
							style="margin-top: 20px; color: rgb(27, 27, 27); font-family: noto, '맑은 고딕', '돋움', tahoma, sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);">
							<span
								style="font-family: '나눔바른고딕', NanumBarunGothic, NanumBarunGothicOTF; font-size: 12pt;">
								성공투자의 지름길로 안내하겠습니다.</span>
						</p>
					</div>
				</div>
				<Br> <Br> <Br>
			</article>
		</div>
	</div>



	<!-- 홈05 공지사항-->
	<th:block th:insert="fragments/home05"></th:block>
	<!-- 하단-->
	<th:block th:insert="fragments/bottom"></th:block>
	<!-- 하단-->
	<th:block th:insert="fragments/banner"></th:block>
</div>
</html>
