<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{/layout/layout1}">
<div layout:fragment="content">
	<!-- 탑-->
	<th:block th:insert="fragments/top"></th:block>

	<div id="wrapper">

		<div id="container">
			<h2 id="container_title" class="top hidden-xs hidden-sm" 
				title="수익인증 1 페이지">지점/지사문의</h2>
			<div class="bo_top_img"></div>

			<div id="nav">
				<div class="nav_wr">
					<a href="/"><i class="fa fa-home"></i> HOME</a> &gt; 수익인증
				</div>
			</div>


			<div id="bo_list">

				<fieldset id="bo_sch">
					<legend>게시물 검색</legend>

					<form name="fsearch" method="get">
						<input type="hidden" name="bo_table" value="certify"> <input
							type="hidden" name="sca" value=""> <input type="hidden"
							name="sop" value="and"> <label for="sfl"
							class="sound_only">검색대상</label> <select name="sfl" id="sfl">
							<option value="wr_subject">제목</option>
							<option value="wr_content">내용</option>
						</select> <input name="stx" value="" placeholder="검색어(필수)" required
							id="stx" class="sch_input" size="15" maxlength="20">
						<button type="submit" value="검색" class="sch_btn">
							<i class="fa fa-search" aria-hidden="true"></i> <span
								class="sound_only">검색</span>
						</button>
					</form>
				</fieldset>


				<form name="fboardlist" id="fboardlist"
					action="./board_list_update.php"
					onsubmit="return fboardlist_submit(this);" method="post">
					<input type="hidden" name="bo_table" value="certify"> <input
						type="hidden" name="sfl" value=""> <input type="hidden"
						name="stx" value=""> <input type="hidden" name="spt"
						value=""> <input type="hidden" name="sst"
						value="wr_num, wr_reply"> <input type="hidden" name="sod"
						value=""> <input type="hidden" name="page" value="1">
					<input type="hidden" name="sw" value="">


					<!-- 게시판리스트 -->
					<div class="board_list" th:with="result=${question.result}">
						<ul>
							<li class="  " th:each="board:${result.content}">
								<div class="bo_subject">
									<a th:href="${'/questionView?bno=' + board.bno}"   class="bo_subject">[[${board.title}]] 
										<i class="fa fa-heart" aria-hidden="true"></i> <i
										class="fa fa-download" aria-hidden="true"></i>
									</a>

								</div>
								<div class="bo_info">
									<span class="sound_only"></span><span class="sv_guest">[[${board.writer}]]</span>
									<span class="bo_date"> <i class="fa fa-clock-o"></i>
										[[${#dates.format(board.regdate, 'yyyy-MM-dd')}]]
									</span>
								</div>
							</li>
						</ul>
					</div>

					<div class="bo_fx">
						<ul class="btn_bo_adm">
						</ul>
						<ul class="btn_wr">
							<li><a href="/questionWrite" class="btn btn_b02">글쓰기</a></li>
						</ul>
					</div>
				</form>


			</div>
		</div>
		<!-- 게시판 목록 시작 -->
	</div>


	<!-- 홈05 공지사항-->
	<th:block th:insert="fragments/home05"></th:block>
	<!-- 하단-->
	<th:block th:insert="fragments/bottom"></th:block>
	<!-- 하단-->
	<th:block th:insert="fragments/banner"></th:block>
</div>
</html>
